# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  -   repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
        -   id: trailing-whitespace
        -   id: end-of-file-fixer
        # -   id: check-yaml
        -   id: check-added-large-files
  -   repo: https://github.com/psf/black
      rev: 25.9.0
      hooks:
        - id: black
  -   repo: https://github.com/PyCQA/flake8
      rev: 7.3.0
      hooks:
        - id: flake8
          args: [--max-line-length=100, --ignore=F401 W503]
  -   repo: https://github.com/pycqa/isort
      rev: 7.0.0
      hooks:
        - id: isort
  -   repo: https://github.com/astral-sh/ruff-pre-commit
      # Ruff version.
      rev: v0.14.3
      hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
        types_or: [ python, pyi]
