name: CI

on:
  push:
    branches:
      - main
      - master
    tags:
      - '*'
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  # Fail CI on warnings
  RUSTFLAGS: "-Dwarnings"

jobs:
  linux_tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [x86_64]
        python-version: ["3.10", "3.11"]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Set up nightly Rust
        run: |
          rustup toolchain install nightly --component rustfmt --component clippy
          rustup default nightly
          rustup show
      - uses: mozilla-actions/sccache-action@v0.0.3
      - run: make venv
      - run: make pre-commit
      - run: make install
      - run: make test

  macos_tests:
    runs-on: macos-latest
    strategy:
      matrix:
        target: [x86_64]
        python-version: ["3.11"]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Set up nightly Rust
        run: |
          rustup toolchain install nightly --component rustfmt --component clippy
          rustup default nightly
          rustup show
      - uses: mozilla-actions/sccache-action@v0.0.3
      - run: make venv
      - run: make pre-commit
      - run: make install
      - run: make test

  linux_min_version_tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [x86_64]
        python-version: ["3.8"]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Set up nightly Rust
        run: |
          rustup toolchain install nightly --component rustfmt --component clippy
          rustup default nightly
          rustup show
      - uses: mozilla-actions/sccache-action@v0.0.3
      - run: make venv
      - run: venv/bin/python -m pip install polars==0.20.16  # min supported version
      - run: make install
      - run: make test

  linux_benchmark:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [x86_64]
        python-version: ["3.11"]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Set up nightly Rust
        run: |
          rustup toolchain install nightly --component rustfmt --component clippy
          rustup default nightly
          rustup show
      - uses: mozilla-actions/sccache-action@v0.0.3
      - run: make venv
      - run: make install-release
      - run: make benchmark

  macos_benchmark:
    runs-on: macos-latest
    strategy:
      matrix:
        target: [x86_64]
        python-version: ["3.11"]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Set up nightly Rust
        run: |
          rustup toolchain install nightly --component rustfmt --component clippy
          rustup default nightly
          rustup show
      - uses: mozilla-actions/sccache-action@v0.0.3
      - run: make venv
      - run: make install-release
      - run: make benchmark

  linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [x86_64, x86, aarch64, armv7]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Set up nightly Rust
        run: |
          rustup toolchain install nightly --component rustfmt --component clippy
          rustup default nightly
          rustup show
      - name: Set up Spack
        uses: spack/setup-spack@v2
        with:
          ref: develop
          buildcache: true
          color: true
          path: spack
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.target }}
          args: --release --out dist --find-interpreter
          sccache: 'true'
          manylinux: auto
      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels
          path: dist

  windows:
    runs-on: windows-latest
    strategy:
      matrix:
        target: [x64, x86]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          architecture: ${{ matrix.target }}
      - name: Set up nightly Rust
        shell: bash
        run: |
          rustup toolchain install nightly --component rustfmt --component clippy
          rustup default nightly
          rustup show
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.target }}
          args: --release --out dist --find-interpreter
          sccache: 'true'
      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels
          path: dist

  macos:
    runs-on: macos-latest
    strategy:
      matrix:
        target: [x86_64, aarch64]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Set up nightly Rust
        run: |
          rustup toolchain install nightly --component rustfmt --component clippy
          rustup default nightly
          rustup show
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.target }}
          args: --release --out dist --find-interpreter
          sccache: 'true'
      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels
          path: dist

  sdist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up nightly Rust
        run: |
          rustup toolchain install nightly --component rustfmt --component clippy
          rustup default nightly
          rustup show
      - name: Build sdist
        uses: PyO3/maturin-action@v1
        with:
          command: sdist
          args: --out dist
      - name: Upload sdist
        uses: actions/upload-artifact@v4
        with:
          name: wheels
          path: dist

  release:
    name: Release
    if: "startsWith(github.ref, 'refs/tags/')"
    needs: [windows, linux, macos, sdist]
    runs-on: ubuntu-latest
    environment: pypi
    permissions:
      id-token: write
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: wheels
      - name: Set up nightly Rust
        run: |
          rustup toolchain install nightly --component rustfmt --component clippy
          rustup default nightly
          rustup show
      - name: Publish to PyPI
        uses: PyO3/maturin-action@v1
        with:
          command: upload
          args: --non-interactive --skip-existing *